<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <form action="/result" method="post">
        <label for="Preg">Pregnancies</label>
        <input type="text" value="6" name="Pregnancies"><br>
        <label for="gluc">Glucose</label>
        <input type="text" value="148" name="Glucose"><br>
        <label for="">BloodPressure</label>
        <input type="text" value="72" name="BloodPressure"><br>
        <label for="">SkinThickness</label>
        <input type="text" value="35" name="SkinThickness"><br>
        <label for="">Insulin</label>
        <input type="text "value="0"  name="Insulin"><br>
        <label for="">BMI</label>
        <input type="text"value="33.6"  name="BMI"><br>
        <label for="">DiabetesPedigreeFunction</label>
        <input type="text" value="0.627" name="DiabetesPedigreeFunction"><br>
        <label for="">Age</label>
        <input type="text" value="50" name="Age"><br>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>